body {
	background: #fff;
	text-align: center; /* Necessary for IE 6,7,8 */
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
}

a:link,
a:hover,
a:active,
a:visited {
	color: black;
	text-decoration: none;
}

#container {
	width: 900px;
	margin: 0 auto;
}

#header #card {
    float: left;
    width: 250px;
    height: 364px;
    background-color: #EECCBB;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#header #photo {
    float: left;
    width: 650px;
}

#header #photo img {
    width: 100%;
}

#header #card .name {
    font-family: 'Miss Fajardose', cursive;
	font-weight: 600;
	font-size: 40px;
	margin-top: 50px;
}

